@import "tailwindcss";

@theme{
    --color-primary : #4CA1A3;
    --color-secondary : #BFA33E;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}
